@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --lavender-purple: #E7E6F7;
    --pale-purple: #E3D0D8;
    --rose-quartz: #AEA3B0;
    --mountbatten-pink: #827081;
    --lavender-blue: #C6D2ED;
}

.fill {
  margin: 0 auto;
}

.fill ul {
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border-top: solid 3px black;
  padding-top: 1rem;
}

.fill ul li {
  display: inline-block;
}

.fill ul li a {
  display: block;
  text-decoration: none;
  font-family: "Open Sans", serif;
  font-size: 1.5rem;
  text-transform: lowercase;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  transition: transform 0.2s ease-in-out;

}

.fill ul li a,
.fill ul li a:before,
.fill ul li a:after {
  transition: all .5s;
}

.fill ul li a {
  position: relative;
  transition: all 0.1s;
}

.fill ul li a:active {
  transform: scale(0.9);
}

.fill ul li a:hover {
  color: var(--pale-purple);
  z-index: 1;
}

.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  height: 1px;
  opacity: 0;
}

.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: var(--mountbatten-pink);
  }
}
