:root {
    --lavender-purple: #E7E6F7;
    --pale-purple: #E3D0D8;
    --rose-quartz: #AEA3B0;
    --mountbatten-pink: #827081;
    --lavender-blue: #C6D2ED;
}

.fill {
  margin: 0 auto;
}

.fill ul {
  list-style: none;
  text-align: center;
}

.fill ul li {
  display: inline-block;
}

.fill ul li a {
  display: block;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

.fill ul li a,
.fill ul li a:before,
.fill ul li a:after {
  transition: all .5s;
}

.fill ul li a {
  position: relative;
  transition: all 2s;
}

.fill ul li a:hover {
  color: var(--pale-purple);
  color: #fff;
  z-index: 1;
}

.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
  opacity: 0;
}

.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}
