* {
    margin: 0;
    padding: 0;
    cursor: none;
}
body{
  color: #000;
  min-height: 100vh;
  overflow-x: hidden;
  background: #222;
  font-family: Helvetica, sans-serif;
}
.outer-ring {
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 1000;
    border: 1px solid #fff;
    transition: all 0.2s ease-out;
    animation: pulsateCursor .8s infinite alternate;
}

.expand {
    background: transparent;
    animation: expandCursor .5s forwards;
    border: 1px solid green;
}

@keyframes pulsateCursor {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.8);
    }
}

@keyframes expandCursor {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.5);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}
